<footer class="apple-footer">
  <div class="footer-top">
    <div class="footer-group" *ngFor="let group of footerGroups; let i = index">
      <h3 class="footer-title" (click)="toggleSection(i)" [ngClass]="{'active': isSectionOpen(i)}">
        {{ group.title }}
        <span class="icon d-lg-none d-lg-block" [ngClass]="{'rotate': isSectionOpen(i)}">
          <svg class="footer-icon-svg" width="11" height="6" viewBox="0 0 11 6">
            <polyline data-footer-icon-shape="" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              fill="none" fill-rule="evenodd" points="10.075 0.675 5.5 5.323 0.925 0.675">
              <animate data-footer-animate="expand" attributeName="points" values="10.075 0.675 5.5 5.323 0.925 0.675;
					10.075 3 5.5 3 0.925 3;
					10.075 5.325 5.5 0.676 0.925 5.325" dur="320ms" begin="indefinite" fill="freeze" keyTimes="0;
					0.5;
					1" calcMode="spline" keySplines="0.12, 0, 0.38, 0;
						0.2, 1, 0.68, 1"></animate>
              <animate data-footer-animate="collapse" attributeName="points" values="10.075 5.325 5.5 0.676 0.925 5.325;
					10.075 3 5.5 3 0.925 3;
					10.075 0.675 5.5 5.323 0.925 0.675" dur="320ms" begin="indefinite" fill="freeze" keyTimes="0;
					0.5;
					1" calcMode="spline" keySplines="0.2, 0, 0.68, 0;
						0.2, 1, 0.68, 1"></animate>
            </polyline>
          </svg>
        </span>
      </h3>
      <ul class="footer-list" *ngIf="isSectionOpen(i) || isDesktop">
        <li *ngFor="let item of group.items">
          <a href="#">{{ item }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-legal">
      <p>
        More ways to shop: <a href="#">Find an Apple Store</a> or <a href="#">other retailer</a> near you. Or call
        <a href="#">1‑800‑MY‑APPLE</a>.
      </p>
    </div>

    <p class="copyright">Copyright © 2025 Apple Inc. All rights reserved.</p>

    <ul class="footer-links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Site Map</a></li>
    </ul>

    <div class="region">United States</div>
  </div>
</footer>