/* You can add global styles to this file, and also import other style files */
@use "styles/variables.scss" as v;

body {
  margin: 0;
}

.button {
  font-size: 20px;
  border-radius: 980px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.small-button {
  font-size: 15px;
  border-radius: 980px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.head {
  margin-bottom: 0;
  font-family: v.$apple-font;
}
